<!DOCTYPE html>
<html>
<head>
	<title>To Do List app</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
	<style>
		#main-wrapper {
			margin-top: 30px;
			max-width: 600px;
		}
		.navbar-right {
			margin-right: 0px !important;
		}
		#task-form {
			margin-top: 30px;
		}
		#task-form input#task-input {
			padding: 20px 10px;
			font-size: 19px;
			width: 515px;
		}
		#task-form input#add-btn {
			padding: 3px 14px;
			font-weight: bold;
			font-size: 24px;
			margin-left: 7px;
		}
		#tasks-list {
			margin-top: 5px;
		}
		#tasks-list li {
			border-top: 0;
			border-bottom: 1px solid #ddd;
			padding: 17px 8px;
			font-size: 19px;
			cursor: default;
			position: relative;
		}
		#tasks-list li .drag-handle {
			float: left;
			width: 40px;
			opacity: 0.4;
		}
		#tasks-list li .item-checkbox {
			float: left;
			margin-left: 5px;
			margin-top: 4px;
		}
		#tasks-list li:hover .item-remove {
			display: inline;
		}
		#tasks-list li .item-remove {
			display: none;
			position: absolute;
			right: 20px;
			top: 0;
			bottom: 0;
			cursor: pointer;
			margin: auto 0;
			height: 23px;
		}
		#tasks-list li .task {
			float: left;
			margin-left: 10px;
			margin-top: 6px;
			max-width: 440px;
		}
		#tasks-list li.complete .task {
			text-decoration: line-through;
		}
		#temp-msg {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			top: 37px;
			left: 0;
			right: 0;
			width: 90px;
			text-align: center;
			z-index: 10;
			padding: 8px 13px;
			background: rgb(235, 235, 39);
			border-radius: 4px;
			display: none;
		}
		#status {
			color: grey;
		}
	</style>
</head>
<body>

	<div id="main-wrapper" class="container">

		<div id="temp-msg">Loading...</div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">To Do List App</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Muhanad Al-Rubaiee <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
		</nav>
		
		<form id="task-form" class="form-inline">
			<input id="task-input" placeholder="Enter a task..." class="form-control" />
			<input id="add-btn" type="submit" class="btn btn-primary" value="+" />
		</form>

		<div id="all-tasks-list">
			
		</div>
		
		<script type="text/template" id="list-template">
			<ul id="tasks-list" class="list-unstyled">
				{{ _.each(tasksList, function(item) { }}
					<li id="{{= item.id }}" class="{{= item.status }}">
						<div class="drag-handle">
							<img class="img-responsive" src="/images/drag.png" />
						</div>
						<div class="item-checkbox">
							<input type="checkbox" class="checkbox" value="" />
						</div>
						<div class="item-remove">
							<i class="glyphicon glyphicon-remove"></i>
						</div>
						<div class="task">{{= item.task }}</div>
						<div class="clearfix"></div>
					</li>
				{{ }); }}
			</ul>
		</script>

		<div class="col-xs-2" id="tasks-left">1 task left</div>
		<div class="col-xs-4">
			<a id="clear-completed" href="javascript:void(0);">Clear completed</a>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script>
		
		$(document).ready(function() {

			_.templateSettings = {
				interpolate: /\{\{\=(.+?)\}\}/g,
				evaluate: /\{\{(.+?)\}\}/g
			};

			function getMaxOfArray(numArray) {
				return Math.max.apply(null, numArray);
			}

			var data = { tasksList: [
				{'id': '9', 'status': 'complete', 'task': 'Do something today...'},
				{'id': '3', 'status': 'incomplete', 'task': 'The printing and typesetting industry.'},
				{'id': '1', 'status': 'incomplete','task': 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'}
			]};

			function generate_id() {
				var new_id = getMaxOfArray($.map(data.tasksList, function(task){
					return parseInt(task.id);
				})) + 1;
				return new_id;
			}

			// Render the list
			var list_html = _.template($("#list-template").html(), data);
			$('#all-tasks-list').html(list_html);

			$( "#tasks-list" ).sortable({
				items: "> li",
				cursor: "move",
				handle: '.drag-handle',
				stop: function() {
					var items_order = $(this).sortable('toArray');
				}
			});

			// Add task
			$('#task-form input#add-btn').on('click', function(event){
				event.preventDefault();
				var task = {
					id: generate_id(),
					task: $('#task-input').val(),
					status: 'incomplete'
				};
				if(task.task !== '') {
					add_item(task);
					add_item_to_list(task);
					$('#task-form #task-input').val('');
				}
			});

			// Remove task
			$('#all-tasks-list').on('click', '#tasks-list .item-remove', function(){
				var task_id = $(this).parent().attr('id');
				remove_item(task_id);
				remote_item_from_list(task_id);
				refresh_count();
			});

			// Mark as complete/incomplete
			$("#all-tasks-list").on('change', '#tasks-list li .item-checkbox input', function(){
				var task_id = $(this).parent().parent().attr('id');
				var checked = $(this).prop('checked');
				var update_status = 'incomplete'
				if(checked===true) update_status = 'complete';
				update_item_status(task_id, update_status);
			});

			function update_item_status(id, status) {
				var item_obj = find_item(id);
				item_obj.status = status;
				$("ul li#"+id).attr('class', status);
			}

			function update_item(id, task, status) {
				var item_obj = find_item(id);
				item_obj.task = task;
				refresh_list();
			}

			function add_item(item) {
				var item_obj = {
					'id': item.id,
					'status': item.status,
					'task': item.task
				}
				data.tasksList.push(item_obj);
			}

			function add_item_to_list(item_obj) {
				var item_template = $($("#tasks-list-template").html()).find('li')[0].outerHTML;
				var item_template = Handlebars.compile(item_template);
				var task_html = item_template(item_obj);
				$('#all-tasks-list ul').append(task_html);
			}

			function remove_item(id) {
				for (var i = 0; i < data.tasksList.length; i++) {
					if (data.tasksList[i]['id'] == id) {
						data.tasksList.splice(i, 1);
						break;
					}
				}
			}

			function remote_item_from_list(id) {
				$('ul#tasks-list li#'+id).remove();
			}

			function count_by(filter, value) {
				var task_count = 0;
				for (var i = 0; i < data.tasksList.length; i++) {
					if (data.tasksList[i][filter] == value) {
						task_count++;
					}
				}
				return task_count;
			}

			function refresh_count() {
				$("#tasks-left").html(count_by('status', 'incomplete') + " tasks left");
			}

			function find_item(id) {
				for (var i = 0; i < data.tasksList.length; i++) {
					if (data.tasksList[i]['id'] == id) {
						return data.tasksList[i];
						break;
					}
				}
			}
			
		});

	</script>
</body>
</html>