#main-wrapper {
	margin-top: 30px;
	max-width: 600px;
}
.navbar-right {
	margin-right: 0px !important;
}
#task-form {
	margin-top: 30px;
}
#task-form input#task-input {
	padding: 20px 10px;
	font-size: 19px;
	width: 515px;
}
#task-form input#add-btn {
	padding: 3px 14px;
	font-weight: bold;
	font-size: 24px;
	margin-left: 7px;
}
#tasks-list {
	margin-top: 5px;
}
#tasks-list li {
	border-top: 0;
	border-bottom: 1px solid #ddd;
	padding: 17px 8px;
	font-size: 19px;
	cursor: default;
	position: relative;
}
#tasks-list li .drag-handle {
	float: left;
	width: 40px;
	opacity: 0.4;
}
#tasks-list li .item-checkbox {
	float: left;
	margin-left: 5px;
	margin-top: 4px;
}
#tasks-list li:hover .item-remove {
	display: inline;
}
#tasks-list li .item-remove {
	display: none;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	cursor: pointer;
	margin: auto 0;
	height: 23px;
}
#tasks-list li .task {
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	max-width: 440px;
}
#tasks-list li.complete input {
	text-decoration: line-through;
}
#tasks-list li.complete .task {
	text-decoration: line-through;
}
#temp-msg {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 37px;
	left: 0;
	right: 0;
	width: 90px;
	text-align: center;
	z-index: 10;
	padding: 8px 13px;
	background: rgb(235, 235, 39);
	border-radius: 4px;
	display: none;
}
#status {
	color: grey;
}
#clear-completed {
	display: none;
	cursor: pointer;
}